{% extends "page.html" %}

{% block home %}
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("{{ url_for('static', filename='img/library.jpeg')}}");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("{{ url_for('static', filename='img/library.jpeg')}}");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("{{ url_for('static', filename='img/library.jpeg')}}");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption a {
    text-decoration: none;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>

<div class="bgimg-1">
  <div class="caption">
    <a href="/books"><span class="border">HENRY BOOKS</span></a>
  </div>
</div>

<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>The books page will list all books in the Henry Books Database. From here, you can search, delete, add and modify the books stored in the DB.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
      <a href="/copies"><span class="border">COPIES</span></a>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p></p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
      <a href="/authors"><span class="border">AUTHORS</span></a>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p></p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
      <a href="/publishers"><span class="border">PUBLISHERS</span></a>
  </div>
</div>
{% endblock %}

{% block books %}
    <div id="search-cont">
        <input id="book-search" type="text"><i id="search-button" class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div>
        <button id="add-table-btn">Add A Book</button>
    </div>
    <table id="insert-table">
        <tr>
            <th>Book Code</th>
            <th>Title</th>
            <th>Publisher Code</th>
            <th>Type</th>
            <th>Paperback</th>
            <th>Add</th>
        </tr>
            <tr>
                <form onSubmit="return validateForm();" action="{{ url_for('book_add') }}" method="post">
                    <td><input type="text" class="add-input" name="bookCode"></td>
                    <td><input type="text" class="add-input" name="title"></td>
                    <td><input type="text" class="add-input" name="publisherCode"></td>
                    <td><input type="text" class="add-input" name="type"></td>
                    <td><input type="text" class="add-input" name="paperback"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
    </table>

    <table>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Paperback</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr id="{{ data[x]["title"] }}" class="book">
                    <td>{{ data[x]["title"] }}</td>
                    <td>{{ data[x]["type"] }}</td>
                    <td>{{ data[x]["paperback"] }}</td>
                    <td><button pk="{{x}}" class="delete" page="books">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block bookInfo %}
<div id="book-info-overlay">
    <div id="book-information-window">
        <div id="close-overlay">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div id="book-information-content"></div>
    </div>
</div>
{% endblock %}

{% block copies %}
    <div>
        <button id="add-table-btn">Add A Copy</button>
    </div>
    <table id="insert-table">
        <tr>
            <th>Book Code</th>
            <th>Branch Number</th>
            <th>Copy Number</th>
            <th>Quality</th>
            <th>Price</th>
            <th>Add</th>
        </tr>
            <tr>
                <form onSubmit="return validateForm();" action="{{ url_for('copy_add') }}" method="post">
                    <td><input type="text" class="add-input" name="bookCode"></td>
                    <td><input type="text" class="add-input" name="branchNum"></td>
                    <td><input type="text" class="add-input" name="copyNum"></td>
                    <td><input type="text" class="add-input" name="quality"></td>
                    <td><input type="text" class="add-input" name="price"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
    </table>

    <table>
        <tr>
            <th>Title</th>
            <th>Branch</th>
            <th>Number of Copies</th>
            <th>Quality</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr>
                    <td>{{ data[x]["title"] }}</td>
                    <td>{{ data[x]["branchName"] }}</td>
                    <td>{{ data[x]["copyNum"] }}</td>
                    <td>{{ data[x]["quality"] }}</td>
                    <td>{{ data[x]["price"] }}</td>
                    <td><button pk="{{x}}" bookCode="{{ data[x]['bookCode'] }}" branchNum="{{ data[x]['branchNum'] }}" copyNum="{{ data[x]['copyNum'] }}" class="delete" page="copies">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block publishers %}
    <div>
        <button id="add-table-btn">Add A Publisher</button>
    </div>
    <table id="insert-table">
        <tr>
            <th>Publisher Code</th>
            <th>Publisher Name</th>
            <th>City</th>
        </tr>
            <tr>
                <form onSubmit="return validateForm();" action="{{ url_for('publisher_add') }}" method="post">
                    <td><input type="text" class="add-input" name="publisherCode"></td>
                    <td><input type="text" class="add-input" name="publisherName"></td>
                    <td><input type="text" class="add-input" name="city"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
    </table>
    <table>
        <tr>
            <th>Publisher Code</th>
            <th>Publisher Name</th>
            <th>City</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
            <tr>
                <form action="{{ url_for('publisher_edit') }}" method="post">

                    <td>{{ x }}</td>
                    <td>{{ data[x]["publisherName"] }}</td>
                    <td>{{ data[x]["city"] }}</td>
                    <td>
                        <i class="fa fa-pencil-square-o edit-btn" aria-hidden="true" id="edit-{{x}}"></i>
                    </td>
                    <td><button pk="{{x}}" class="delete" page="publishers">Delete</button></td>
                </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block authors %}
    <div>
        <button id="add-table-btn">Add An Author</button>
    </div>
    <table id="insert-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
            <tr>
                <form onSubmit="return validateForm();" action="{{ url_for('author_add') }}" method="post">
                    <td><input type="text" class="add-input" name="authorFirst"></td>
                    <td><input type="text" class="add-input" name="authorLast"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
    </table>
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr>
                    <form action="{{ url_for('author_edit') }}" method="post">
                        <td><input type="text" class="edit-input edit-{{x}}" name="authorLast" value="{{ data[x]["authorLast"] }}"/><span class="data-text edit-{{x}}">{{ data[x]["authorLast"] }}</span></td>
                        <td><input type="text" class="edit-input edit-{{x}}" name="authorFirst" value="{{ data[x]["authorFirst"] }}"/><span class="data-text edit-{{x}}">{{ data[x]["authorFirst"] }}</span></td>
                        <td>
                            <i class="fa fa-pencil-square-o edit-btn" aria-hidden="true" id="edit-{{x}}"></i>
                            <input type="submit" value="Submit" class="edit-submit edit-{{ x }}">
                            <input type="hidden" value="authors" name="page">
                            <input type="hidden" value="{{x}}" name="authorNum">
                        </td>
                        <td><button pk="{{x}}" class="delete" page="authors">Delete</button></td>
                    </form>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        $("#search-button").click(() => {
            let book = $("#book-search").val();
            if(book != "")
                showBookData(book);
        });

        $("#close-overlay, #book-info-overlay").click(() => {
            $("#book-info-overlay").hide();
        });

        $(".book").click(() => {
            showBookData($(event.currentTarget).attr("id"));
        });

        $(".edit-btn").click((event) => {
            let editId = $(event.currentTarget).attr('id');
            $(event.currentTarget).hide();
            $('span.data-text.'+ editId).hide();
            $('.edit-input.' + editId).show();
            $('.edit-submit.' + editId).show();
        });

        $("#add-table-btn").click(() => {
           $("#insert-table").show();
           $("#add-table-btn").hide();
        });

        $("button.delete").click((event) => {
            let typeId = $(event.currentTarget).attr('page');
            if(typeId == "copies") {
                $.post("copies/delete", { bookCode: $(event.currentTarget).attr('bookCode'), branchNum: $(event.currentTarget).attr('branchNum'), copyNum: $(event.currentTarget).attr('copyNum')}, (url) => {
                    window.location.href = url;
                })
            }
            else {
                $.post(typeId + "/delete", $(event.currentTarget).attr('pk'), (url) => {
                    window.location.href = url;
                })
            }
        });

        let showBookData = (ord) => {
            $.post( "books/search", ord, (data) => {
                $("#book-information-content").html(data);
                $("#book-info-overlay").show();
            });
        }

        let validateForm = () => {
            let isValidated = true;
            $('.add-input').each(function(){
                if ($(this).val() == "") {
                    alert("Missing " + $(this).attr("name"));
                    validated = false;
                    return false;
                }
            });
            return isValidated;
        }
    </script>
{% endblock %}
