{% extends "page.html" %}

{% block books %}
    <div id="search-cont">
        <input id="book-search" type="text"><i id="search-button" class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div>
        <button id="add-book">Add A Book</button>
    </div>
    <table id="insert-table">
        <tr>
            <th>Book Code</th>
            <th>Title</th>
            <th>Publisher Code</th>
            <th>Type</th>
            <th>Paperback</th>
            <th>Add</th>
        </tr>
            <tr>
                <form onSubmit="return validateForm();" action="{{ url_for('book_add') }}" method="post">
                    <td><input type="text" name="bookCode"></td>
                    <td><input type="text" name="title"></td>
                    <td><input type="text" name="publisherCode"></td>
                    <td><input type="text" name="type"></td>
                    <td><input type="text" name="paperback"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </tr>
    </table>

    <table>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Papaperback</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr id="{{ data[x]["title"] }}" class="book">
                    <td>{{ data[x]["title"] }}</td>
                    <td>{{ data[x]["type"] }}</td>
                    <td>{{ data[x]["paperback"] }}</td>
                    <td><button id="{{x}}" class="delete" page="books">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block bookInfo %}
<div id="book-info-overlay">
    <div id="book-information-window">
        <div id="close-overlay">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div id="book-information-content"></div>
    </div>
</div>
{% endblock %}

{% block copies %}
    <table>
        <tr>
            <th>Title</th>
            <th>Branch</th>
            <th>Number of Copies</th>
            <th>Quality</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr>
                    <td>{{ data[x]["title"] }}</td>
                    <td>{{ data[x]["branchName"] }}</td>
                    <td>{{ data[x]["copyNum"] }}</td>
                    <td>{{ data[x]["quality"] }}</td>
                    <td>{{ data[x]["price"] }}</td>
                    <td><button id="{{x}}" bookCode="{{ data[x]['bookCode'] }}" branchNum="{{ data[x]['branchNum'] }}" copyNum="{{ data[x]['copyNum'] }}" class="delete" page="copies">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block publishers %}
    <table>
        <tr>
            <th>Publisher Code</th>
            <th>Publisher Name</th>
            <th>City</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ data[x]["publisherName"] }}</td>
                    <td>{{ data[x]["city"] }}</td>
                    <td><button id="{{x}}" class="delete" page="publishers">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block authors %}
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
                <tr>
                    <td>{{ data[x]["authorLast"] }}</td>
                    <td>{{ data[x]["authorFirst"] }}</td>
                    <td><button id="{{x}}" class="delete" page="authors">Delete</button></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
<script>
    $("#close-overlay, #book-info-overlay").click(function(){
        $("#book-info-overlay").hide();
    });

    $("#search-button").click(() => {
        let ord = $("#book-search").val();
        showBookData(ord);
    });

    $(".book").click(() => {
        console.log($(event.currentTarget).attr("id"));
        showBookData($(event.currentTarget).attr("id"));
    });

    $("#add-book").click(() => {
       $("#insert-table").show();
       $("#add-book").hide();
    });

    $("button.delete").click((event) => {
        let typeId = $(event.currentTarget).attr('page');
        console.log($(event.currentTarget).attr('id'))
        if(typeId == "copies") {
            $.post("copies/delete", { bookCode: $(event.currentTarget).attr('bookCode'), branchNum: $(event.currentTarget).attr('branchNum'), copyNum: $(event.currentTarget).attr('copyNum')}, function (url) {
                window.location.href = url;
            })
        }
        else {
            $.post(typeId + "/delete", $(event.currentTarget).attr('id'), function (url) {
                window.location.href = url;
            })
        }
    });

    let showBookData = function(ord){
        $.post( "books/search", ord, (data) => {
            $("#book-information-content").html(data);
            $("#book-info-overlay").show();
        });
    }

    let validateForm = () => {
        if ($('input[name="bookCode"]').val() == "") {
            alert("Missing Book Code");
            return false
        }
        if ($('input[name="title"]').val() == "") {
            alert("Missing Title");
            return false;
        }
        if ($('input[name="publisherCode"]').val() == "") {
            alert("Missing Publisher Code");
            return false;
        }
        if ($('input[name="type"]').val() == "") {
            alert("Missing Type");
            return false;
        }
        if ($('input[name="paperback"]').val() == "") {
            alert("Missing Paperback");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
