<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Henry Books Final</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
</head>
<body>

        {% set navigation_bar = [
            ('/', 'home', 'Home'),
            ('/books', 'books', 'Books'),
            ('/copies', 'copies', 'Copies'),
            ('/publishers', 'publishers', 'Publishers'),
            ('/authors', 'authors', 'Authors')
        ] -%}
        <ul id="navigation">
            {% for href, id, text in navigation_bar %}
                <li{% if id == page %} class="active"{% endif %}><a href="{{ href|e }}">{{ text|e }}</a></li>
            {% endfor %}
        </ul>

        {% if page == "home" %}
           {% block home %}{% endblock %}
        {% endif %}

        {% if page == "books" %}
            {% block bookInfo %}{% endblock %}
            {% block books %}{% endblock %}
        {% endif %}

        {% if page == "copies" %}
            {% block copies %}{% endblock %}
        {% endif %}

        {% if page == "publishers" %}
            {% block publishers %}{% endblock %}
        {% endif %}

        {% if page == "authors" %}
            {% block authors %}{% endblock %}
        {% endif %}

        {% if page != "home" %}
            {% block script %}{% endblock %}
        {% endif %}
</body>
</html>